mixin sec(key, title)
	section(id=key,"data-section-id"=key)
		h2.section-header= title
		block


mixin workplace(model)
	header
		h3.inline-header.workplace= model.company
		if model.note
			small  (#{model.note})
		span.location= model.location
		+duration(model.duration)
	if model.positions
		ul.stealth-list
			each position in model.positions
				li
					+position(position)


mixin position(model)
	h4.inline-header= model.title
	+duration(model.duration)
	if model.responsibilities
		ul
			each responsibility in model.responsibilities
				li= responsibility
	if model.accomplishments
		p.accomplishments= model.accomplishments


mixin list(array)
	if array && array.length
		ul.column-list
			each element in array
				li= element

mixin duration(range)
	if range
		// ISO 8601 format for time interval
		time.duration(datetime=range.start + "/" + range.end)
			= range.start + " – " + range.end



doctype html
html(lang="en")
	head
		<!--[if lt IE 9]>
			script(src="vendor/html5shiv.js")
		<![endif]-->
		<meta name="viewport" content="initial-scale=1"/>
		<meta charset="UTF-8"/>
		title #{name} — Résumé
		link(rel="stylesheet", href="styles/style.css")
		link(rel="stylesheet", href="styles/font-awesome/css/font-awesome.min.css")
	body("data-ng-app"="cv","data-ng-controller"="cvController")
		div
			header.main-header
				img.qr(src='images/qr.svg')
				h1.name= name
				address.contact-info
					ul.stealth-list.compact-list('data-ng-if'='model.address')
						li('data-ng-repeat'='line in model.address') {{line}}<br>
					dl.inline.compact-list
						dt(data-ng-if='model.phone',title="Phone")
							i.fa.fa-phone-square('aria-hidden'=true)
						dd(data-ng-if='model.phone') {{model.phone}}
						dt(title="Email")
							i.fa.fa-envelope('aria-hidden'=true)
						dd: a(href="mailto:" + contact.email)= contact.email
			main
				+sec("summary", "Summary")
					p= summary
				+sec("strengths", "Key Strengths")
					ul
						each strength in strengths
							li= strength
				+sec("competencies", "Core Competencies")
					+list(competencies)
				+sec("history", "Work History")
					ol.stealth-list
						each workplace in history
							li
								+workplace(workplace)
				+sec("education", "Education")
					dl
						each school in education
							dt
								dfn.label= school.name
								span.location= school.location
							dd= school.education
				+sec("training", "Training")
					+list(training)
				+sec("software", "Software Experience")
					+list(software)
				+sec("skills", "Specific Skills")
					+list(skills)
			footer.references
				small References supplied upon request
		<!--[if gt IE 8]><!-->
		script(src="vendor/angular.min.js")
		script(src="scripts/app.js")
		<!--<![endif]-->